.login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.login-form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    color: #495057;
}
.login-form input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-color: #1976d2;
    border: 1px solid transparent;
}
.login-form .error-message {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    text-align: center;
}