input{
    display: block;
    width: 95%;
    box-sizing: border-box;
    padding: .75em;
    font-size: 1em;
    color: #495057;
    margin: 0 auto;
}
input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}